.test {
  background-position: 50% 35%;
  background-repeat: no-repeat;
  background-size: cover;

  height: 600px;
  opacity: 100%;
}
.test2 {
  background-position: 50% 35%;
  background-repeat: no-repeat;
  background-size: contain;

  height: 400px;
  opacity: 100%;
}

@media (min-width: 1280px) {
  .test {
    display: block;
  }
  .test2 {
    display: none;
  }
}

@media (min-width: 640px) {
  .test {
    display: block;
  }
  .test2 {
    display: none;
  }
}
