.test {
  background-position: 50% 35%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 400px;
  opacity: 75%;
}
.test2 {
  background-position: 50% 35%;
  background-repeat: no-repeat;
  background-size: contain;
  opacity: 75%;
  height: 500px;
}
@media (min-width: 1280px) {
  .test {
    display: block;
  }
  .test2 {
    display: none;
  }
}

@media (min-width: 640px) {
  .test {
    display: block;
  }
  .test2 {
    display: none;
  }
}
